<template>
  <q-page class="row items-center justify-evenly">

  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { AxiosResponse } from 'axios'

interface ServerStats {
  requestsPerSecond: number
}

@Component({
  components: { },
  created () {
    // this.loadData()
  }
})
export default class PageIndex extends Vue {
  stats!: ServerStats

  loadData () {
    this.$axios.get('/api/stats')
      .then((response: AxiosResponse<ServerStats>) => {
        this.stats = response.data
      })
      .catch((e: Error) => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: `Could not load stats: ${e.toString()}`,
          icon: 'report_problem'
        })
      })
  }
}
</script>
